body {
    font-family: 'Poppins', sans-serif;
    background-color: #E7E3D5;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin: 0;
    justify-content: center;
}

.ticket-container {
    background: white;
    width: 1100px;
    height: 400px;
    border-radius: 20px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
    display: flex;
    overflow: hidden;
}

.left-section {
    width: 75%;
    padding: 30px;
    background: #e0cda9;
    color: #4C3625;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.logo-title {
    display: flex;
    align-items: center;
    gap: 15px;
}

.logo-title img {
    width: 70px; 
    height: 70px;
}

.title-container {
    display: flex;
    flex-direction: column;
}

.heritage-title {
    font-size: 24px;
    font-weight: 600;
    margin: 0;
}

.ticket-info {
    text-align: right;
}

.ticket-info h4 {
    font-size: 22px;
    font-weight: 600;
    margin: 0;
}

.ticket-info h2 {
    font-size: 50px;
    font-weight: 600;
    margin: 0;
}

.scan-instruction {
    font-size: 14px;
    font-weight: 400;
    color: #4C3625;
    margin-top: 5px;
}

.info {
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.info p {
    margin: 0;
    flex: 1;
    text-align: center;
    white-space: nowrap;
}

.right-section {
    width: 25%;
    background: #4C3625;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-left: 5px dashed #ccc;
}

.right-section .logo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.right-section img {
    width: 50px; 
    height: 50px;
}

.heritagehub-text {
    font-size: 16px;
    font-weight: 600;
    margin-top: 5px;
}

.qr-code img {
    width: 150px;
    height: 150px;
    margin-bottom: 15px;
    margin-top: 50px;
}

.social-icons {
    display: flex;
    gap: 15px;
    margin-top: 20px;
}

.social-icons i {
    font-size: 24px;
    color: white;
    transition: 0.3s;
}

.social-icons i:hover {
    color: #E7E3D5;
}

.print-btn {
background: #4C3625;
color: #E7E3D5;
border: 2px solid #4C3625;
padding: 12px 25px;
margin-top: 20px;
font-size: 18px;
font-weight: 600;
cursor: pointer;
border-radius: 8px;
transition: all 0.3s ease;
box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
text-transform: uppercase;
}

.print-btn:hover {
background: #b02736;
border-color: #b02736;
color: white;
transform: scale(1.05);
box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.3);
}